=disable-text-selection
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=inline-block
  display: -moz-inline-block
  display: inline-block
  zoom: 1
  *display: inline

=border-radius($radius)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

=box-shadow($color, $x, $y, $size)
  box-shadow: $color $x $y $size
  -moz-box-shadow: $color $x $y $size
  -webkit-box-shadow: $color $x $y $size
