@import ../variables
@import ../mixins

#ds-toolbar
  top: 0
  left: 0
  width: $toolbar-width
  height: 100%
  list-style: none
  position: fixed
  +disable-text-selection
  background: #2E343B

  &, & *
    margin: 0
    padding: 0
    outline: 0

  li
    display: block

    a
      width: $toolbar-width
      line-height: $toolbar-width
      color: #9CA7AF
      display: block
      font-size: 15px
      text-align: center
      text-decoration: none
      &:hover
        cursor: pointer

    &[data-type="text"]
      a
        font-family: Times New Roman
        font-size: 19px
